@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.avatar {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 4px;

    &.border {
        border: none;
        outline: 3px solid $color-primary;
        outline-offset: 2px;
    }
}
