@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.button {
    @include button;

    &.primary {
        @include button-primary;
    }

    &.secondary {
        @include button-secondary;
    }

    &:disabled {
        cursor: none;
        pointer-events: none;
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        cursor: pointer;
        opacity: 0.75;
    }
}
